*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #fff;
  color: #272e35;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  color: #272e35;
  padding: 20px 32px;
  border-radius: 16px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s linear;
}
.button--primary {
  color: #fff;
  background-color: #579aff;
}
.button--outline {
  border: 1px solid #a5b2c3;
}

.block {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 84px;
}
.block-caption {
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  padding: 0 8px;
}
.block-caption::before, .block-caption::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #579aff;
  top: 50%;
}
.block-caption::before {
  left: 0;
  transform: translateX(-100%) translateY(-50%);
}
.block-caption::after {
  right: 0;
  transform: translateX(100%) translateY(-50%);
}
.block-caption--left {
  padding-left: 40px;
}
.block-caption--left::after {
  display: none;
}
.block-caption--left::before {
  transform: none;
}
.block-heading {
  font-size: 44px;
  line-height: 1.4;
}
.block-heading span {
  display: block;
}

.text {
  font-weight: 300;
  color: #868D93;
  line-height: 1.5;
}

.bg-google {
  background-color: #FF7879;
}
.bg-twitter {
  background-color: #79afff;
}
.bg-instagram {
  background-color: #ffb979;
}

@media screen and (max-width: 991px) {
  .button {
    padding: 10px 16px;
  }

  .block {
    margin-bottom: 40px;
  }
  .block-heading {
    font-size: 35px;
  }
  .block-caption {
    margin-bottom: 20px;
  }
}
.header {
  padding-top: 44px;
  display: flex;
  align-items: center;
}
.header-logo {
  display: inline-block;
  margin-right: 120px;
}
.header-auth {
  margin-left: auto;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu-link {
  color: #272e35;
  transition: color 0.2s ease-in-out;
}
.header-menu-link:hover {
  color: #579aff;
}
@media screen and (min-width: 992px) {
  .header-menu-item:not(:first-child) {
    margin-left: 75px;
  }
  .header .menu-toggle {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .header-logo {
    margin-right: 0;
  }
  .header-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    max-width: 300px;
    background-color: #fff;
    z-index: 1000;
    display: block;
    border-left: 1px solid #eee;
    padding: 52px 16px;
    transition: transform 0.3s linear;
    transform: translateX(100%);
  }
  .header-menu.active {
    transform: translateX(0);
  }
  .header-menu-link {
    display: block;
    padding: 20px;
    border-radius: 6px;
  }
  .header-menu-link:hover {
    background-color: #579aff;
    color: #fff;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 20px;
  }
  .header-logo-image {
    max-width: 80px;
  }
  .header-auth {
    font-size: 14px;
  }
}

.menu-toggle {
  font-size: 20px;
  margin-left: 20px;
}

.banner {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.banner-info {
  width: 35%;
}
.banner-image {
  width: 65%;
  transform: translateX(50px);
}
.banner-heading {
  font-size: 52px;
  line-height: 1.4;
  margin-bottom: 40px;
}
.banner-heading span {
  display: block;
}
.banner-desc {
  margin-bottom: 50px;
}
.banner-links .button:first-child {
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 1023px) {
  .banner-heading {
    font-size: 44px;
    margin-bottom: 28px;
  }
  .banner-links .button {
    padding: 12px 20px;
  }
  .banner-links .button:first-child {
    margin-right: 12px;
  }
  .banner-image {
    transform: none;
  }
}
@media screen and (max-width: 991px) {
  .banner {
    flex-direction: column;
    padding-top: 28px;
  }
  .banner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner > * {
    width: 100%;
  }
  .banner-image {
    transform: none;
  }
  .banner-heading {
    font-size: 25px;
    margin-bottom: 12px;
  }
  .banner-heading span {
    display: unset;
  }
}

.work {
  padding-top: 145px;
  padding-bottom: 50px;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
}
.work-item {
  padding: 40px 28px;
  border: 1px solid #f4f4f4;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  line-height: 1.4;
  transition: all 0.2s linear;
}
.work-item:hover {
  border-color: transparent;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
}
.work-item:hover .work-more {
  border-color: #579aff;
  background-color: #579aff;
  color: #fff;
}
.work-image {
  margin-bottom: 36px;
  max-height: 115px;
}
.work-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 32px;
}
.work-desc {
  margin-bottom: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media screen and (max-width: 1023px) {
  .work-list {
    column-gap: 24px;
  }
}
@media screen and (max-width: 991px) {
  .work {
    padding-top: 80px;
  }
  .work-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .work-item {
    max-width: 460px;
    margin: 0 auto 24px;
  }
}

.intro {
  display: flex;
  align-items: center;
  padding: 110px 0 160px;
}
.intro > * {
  width: 50%;
}
.intro-content {
  padding-right: 100px;
}
.intro-desc {
  margin-top: 36px;
  margin-bottom: 28px;
}
@media screen and (max-width: 1023px) {
  .intro-content {
    padding-right: 20px;
  }
}
@media screen and (max-width: 991px) {
  .intro {
    padding: 25px 0 60px;
    display: block;
  }
  .intro > * {
    width: 100%;
  }
  .intro-desc {
    margin-top: 24px;
  }
  .intro-content {
    margin-bottom: 28px;
  }
}

.plan {
  padding-bottom: 100px;
}
.plan-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 45px;
}
.plan-item {
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 68px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.2s linear;
}
.plan-item:hover {
  border-color: transparent;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
}
.plan-item:hover .plan-start {
  border-color: #579aff;
  background-color: #579aff;
  color: #fff;
}
.plan-label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  background-color: #ff858d;
  color: #fff;
  border-radius: 0 20px 0 20px;
}
.plan-name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}
.plan-price {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 28px;
  padding-bottom: 36px;
  border-bottom: 1px solid #eee;
}
.plan-symbol {
  vertical-align: top;
  font-size: 18px;
  font-weight: 600;
}
.plan-month {
  font-weight: 600;
  font-size: 40px;
}
.plan-desc {
  margin-bottom: 32px;
}
.plan-feature {
  font-size: 20px;
  margin-bottom: 32px;
  font-weight: 500;
}
.plan-feature-list {
  margin-bottom: 64px;
}
.plan-feature-item {
  display: flex;
  align-items: center;
  color: #868D93;
  margin-bottom: 24px;
}
.plan-feature-icon {
  font-size: 20px;
  margin-right: 12px;
}
.plan-start {
  margin: 0 auto;
  display: block;
  width: max-content;
  margin-top: auto;
}
@media screen and (max-width: 991px) {
  .plan {
    padding-bottom: 60px;
  }
  .plan-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .plan-item {
    max-width: 400px;
    margin: 0 auto 28px;
  }
}

.client-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
  margin-bottom: 88px;
}
.client-item {
  padding: 44px 24px;
  border: 1px solid #eee;
  border-radius: 20px;
  text-align: center;
  transition: all 0.2s linear;
}
.client-item:hover {
  border-color: transparent;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
}
.client-image {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  object-fit: cover;
  margin: 0 auto 25px;
}
.client-name {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 10px;
}
.client-position {
  color: #868D93;
  font-size: 14px;
  display: block;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #eee;
}
.client-content {
  color: #868D93;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 30px;
}
.client-rate {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-rate i {
  margin: 0 4px;
  color: #ffcb46;
  font-size: 20px;
}
@media screen and (max-width: 1023px) {
  .client-list {
    column-gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .client-list {
    margin-bottom: 36px;
  }
  .client-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .client-item {
    max-width: 400px;
    margin: 0 auto 28px;
  }
}

.started {
  max-width: 900px;
  margin: 0 auto 60px;
  border-radius: 20px;
  background-color: #fbfbfb;
  position: relative;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.started-started-caption {
  margin-bottom: 20px;
}
.started-heading {
  margin-bottom: 30px;
}
.started-desc {
  max-width: 240px;
  margin-bottom: 50px;
  color: #868D93;
}
.started-comment {
  position: absolute;
  bottom: 50px;
  left: 20px;
}
.started-smile {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(15%, -25%);
}
@media screen and (max-width: 991px) {
  .started-comment, .started-smile {
    max-width: 20%;
    transform: none;
  }
}
@media screen and (max-width: 767px) {
  .started-comment, .started-smile {
    max-width: 20%;
  }
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  padding-bottom: 80px;
}
.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-logo {
  display: inline-block;
}
.footer-heading {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
}
.footer-link {
  color: #272e35;
  display: inline-block;
  font-size: 14px;
}
.footer-link-item {
  margin-bottom: 20px;
}
.footer-desc {
  margin: 40px 0 40px;
  max-width: 250px;
}

.social {
  display: flex;
}

.social-link {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #fff;
}

.social-link:not(:first-child) {
  margin-left: 16px;
}

@media screen and (max-width: 767px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
