.banner {
    display: flex;
    align-items: center;
    padding-top: 50px;
    &-info {
        width: 35%;
    }
    &-image {
        width: 65%;
        transform: translateX(50px);
    }
    &-heading {
        font-size: 52px;
        line-height: 1.4;
        margin-bottom: 40px;
    }
    &-heading span {
        display: block;
    }
    &-desc {
        margin-bottom: 50px;
    }
    &-links {
        .button:first-child {
            margin-right: 30px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @media screen and (max-width: 1023px) {
        &-heading {
            font-size: 44px;
            margin-bottom: 28px;
        }
        &-links {
            .button {
                padding: 12px 20px;
            }
            .button:first-child {
                margin-right: 12px;
            }
        }
        &-image {
            transform: none;
        }
    }
    @media screen and (max-width: 991px) {
        flex-direction: column;
        padding-top: 28px;
        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        & > * {
            width: 100%;
        }
        &-image {
            transform: none;
        }
        &-heading {
            font-size: 25px;
            margin-bottom: 12px;
            span {
                display: unset;
            }
        }
    }
}
