.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    padding-bottom: 80px;
    &-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &-logo {
        display: inline-block;
    }
    &-heading {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 30px;
    }
    &-link {
        color: $gray-dark;
        display: inline-block;
        font-size: 14px
    }
    &-link-item {
        margin-bottom: 20px;
    }
    &-desc {
        margin: 40px 0 40px;
        max-width: 250px;
    }
}

.social {
    display: flex;
}

.social-link {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #fff;
}

.social-link:not(:first-child) {
    margin-left: 16px;
}

@media screen and (max-width: 767px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}