.header {
    margin-top: 44px;
    display: flex;
    align-items: center;
    &-logo {
        display: inline-block;
        margin-right: 120px;
    }
    &-auth {
        margin-left: auto;
    }
    &-menu {
        display: flex;
        align-items: center;
        list-style: none;
    }
    &-menu-item:not(:first-child) {
        margin-left: 75px;
    }
    &-menu-link {
        color: $gray-dark;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: $primary-color;
        }
    }
}